<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />

    <style>
      @font-face {
        font-family: tekna;
        src: url(../font/tekna.otf);
      }
      body {
        font-family: "DM Sans";
      }
      .text-2xs {
        font-size: 0.6rem; /* 12px */
        line-height: 0.75rem; /* 16px */
      }
    </style>
  </head>
  <body class="">
    <div class="group block mx-auto w-fit cursor-default">
      <div class="flex mt-10">
        <div
          class="h-8 bg-red-100 border-2 border-red-200 w-4 rounded-sm"
        ></div>
        <div
          class="h-8 bg-blue-100 border-2 border-blue-200 w-3 rounded-sm ml-1"
        ></div>
        <div
          class="h-8 bg-orange-100 border-2 border-orange-200 w-2 rounded-sm ml-1 -rotate-6 group-hover:rotate-0 transition-all"
        ></div>
        <h1 class="text-black text-4xl ml-3 -mt-1">
          <span class="font-semibold tracking-wide text-red-300">Check</span
          ><span class="ml-1 text-blue-300">It</span
          ><span class="text-orange-300 ml-1">Out</span>
        </h1>
      </div>
      <div
        class="w-12 h-2 rounded-sm bg-green-100 green-2 border-2 border-green-200 group-hover:bg-green--100 group-hover:w-72 group-hover:transition-all group-hover:ease-in-out group-hover:duration-500"
      ></div>
      <p
        class="font-medium text-neutral-400 opacity-0 group-hover:ml-24 group-hover:opacity-100 group-hover:transition-all group-hover:delay-150 group-hover:duration-700 text-center text-sm mt-1 ml-14"
      >
        Library Management System
      </p>
    </div>

    <div class="w-96 mx-auto px-10 mt-5">
      <p class="text-center font-semibold text-3xl text-violet-300">
        Library <span class="text-violet-400 font-bold ml-1">Users</span>
      </p>

      <div
        class="cursor-pointer group w-full mt-10 bg-sky-50 border-2 border-sky-200 rounded-lg py-3 px-5 hover:bg-sky-100 hover:border-sky-300 transition-all *:transition-all hover:scale-105"
      >
        <div class="flex">
          <img
            src="./imgs/pfp1.jpg"
            class="rounded-full w-16 h-16 border-2 border-sky-300 group-hover:border-sky-400"
          />
          <div class="ml-4">
            <p class="font-bold text-xl text-sky-400 group-hover:text-sky-500">Hirono</p>
            <p class="font-medium text-xs text-sky-300 -mt-1  group-hover:text-sky-400">
              ID: 0723899155
            </p>
            <div
              class="text-xs border-2 border-purple-200 mt-2 bg-purple-100 px-2 rounded-full text-purple-400 w-fit cursor-default hover:border-purple-300 hover:bg-purple-200 transition-all"
            >
              Book Club Member
            </div>
          </div>
        </div>
      </div>

      <div
        class="cursor-pointer group w-full mt-5 bg-rose-50 border-2 border-rose-200 rounded-lg py-3 px-5 hover:bg-rose-100 hover:border-rose-300 transition-all *:transition-all hover:scale-105"
      >
        <div class="flex">
          <img
            src="./imgs/pfp2.jpg"
            class="rounded-full w-16 h-16 border-2 border-rose-300"
          />
          <div class="ml-4">
            <p class="font-bold text-xl text-rose-400 group-hover:text-rose-500">Harry</p>
            <p class="font-medium text-xs text-rose-300 -mt-1  group-hover:text-rose-500">
              ID: 0722273363
            </p>
            <div
              class="text-xs border-2 border-purple-200 mt-2 bg-purple-100 px-2 rounded-full text-purple-400 w-fit cursor-default hover:border-purple-300 hover:bg-purple-200 transition-all"
            >
              Book Club Member
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
